<%- include('partials/header'); -%>

<form action="/login">
  <h2>Log in</h2>
  <label for="email">Email</label>
  <input type="email" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Log in</button>
</form>

<script>
  const form = document.forms[0];
  let emailMSG = document.querySelector(".email.error");
  let passwordMSG = document.querySelector(".password.error");
  form.addEventListener("submit", (e) => {
    e.preventDefault();

    //reset errors
    emailMSG.textContent = "";
    passwordMSG.textContent = "";

    //get values
    const email = form.email.value;
    const password = form.password.value;

    fetch("/login", {
      method: "POST",
      body: JSON.stringify({ email, password }),
      headers: { "Content-Type": "application/json" },
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        if (data.errors) {
          emailMSG.textContent = data.errors.email;
          passwordMSG.textContent = data.errors.password;
        }
        if (data.user) {
          location.assign("/");
        }
      })
      .catch((err) => console.log(err));
  });
</script>

<%- include('partials/footer'); -%>
